In [95]:
import pandas as pd
import matplotlib.pyplot as plt # viz
import seaborn as sns # better viz
import numpy as np # numerical python

%matplotlib inline
pd.set_option('display.max_columns', None)

In [96]:
data = pd.read_csv("hotel_bookings.csv")

In [97]:
df = data.copy()

In [98]:
df.eq(" ").sum() # empty Spaces

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [99]:
df.duplicated().sum() #duplicates - has several but we don´t have a reservation id to see the real duplicate´s

31994

In [100]:
df.shape

(119390, 32)

In [101]:
df.isna().sum() # NaNs, we to drop columns "Agent + Companys" and 4 children lines

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [102]:
df = df.drop(columns=["country"])

In [103]:
df = df.drop(columns=["agent"])

In [104]:
df = df.drop(columns=["company"])
df.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [105]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [106]:
df['children'].median()

0.0

In [107]:
df['children'].mean()

0.10388990333874994

In [108]:
df["children"] = df["children"].fillna(df["children"].median()) # refilled the 4 children Rows with the median

In [109]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [110]:
df.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [111]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119390.0,0.103886,0.398555,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [112]:
df.shape

(119390, 29)

In [113]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [114]:
df.stays_in_week_nights.head(3)

0    0
1    0
2    1
Name: stays_in_week_nights, dtype: int64

In [115]:
df['rn_sum'] =df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df.rn_sum # New KPI

0         0
1         0
2         1
3         1
4         2
         ..
119385    7
119386    7
119387    7
119388    7
119389    9
Name: rn_sum, Length: 119390, dtype: int64

In [116]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,rn_sum
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,Direct,Direct,0,0,0,A,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,Corporate,Corporate,0,0,0,A,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03,2

In [117]:
df['revenue_total'] =df['rn_sum'] * df['adr']
df.revenue_total # New KPI

0            0.00
1            0.00
2           75.00
3           75.00
4          196.00
           ...
119385     672.98
119386    1578.01
119387    1103.97
119388     730.80
119389    1360.80
Name: revenue_total, Length: 119390, dtype: float64

In [118]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'booking_changes',
       'deposit_type', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'rn_sum',
       'revenue_total'],
      dtype='object')

In [119]:
df1 = df.copy()

In [120]:
num = df1.select_dtypes(include="number")
cat = df1.select_dtypes(exclude="number")

In [121]:
cat

,hotel,arrival_date_month,meal,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,August,BB,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
119386,City Hotel,August,BB,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
119387,City Hotel,August,BB,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
119388,City Hotel,August,BB,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
119389,City Hotel,August,HB,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

In [122]:
cat.head(2)

,hotel,arrival_date_month,meal,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01

In [123]:
frequency_table_dist = cat.market_segment.value_counts() # Hotel distribuition
proportion_table_dist = cat.market_segment.value_counts(normalize=True).round(2)

In [124]:
df_dist = (pd.concat([frequency_table_dist, proportion_table_dist], axis=1)*100)
df_dist.columns = ['absolute_frequency', 'relative_frequency']
df_dist['relative_frequency'] = df_dist['relative_frequency'].astype(str) + '%'
df_dist

                absolute_frequency relative_frequency
market_segment
Online TA                  5647700              47.0%
Offline TA/TO              2421900              20.0%
Groups                     1981100              17.0%
Direct                     1260600              11.0%
Corporate                   529500               4.0%
Complementary                74300               1.0%
Aviation                     23700               0.0%
Undefined                      200               0.0%

In [125]:
pd.crosstab(index=cat.reservation_status,
           columns='count')

col_0               count
reservation_status
Canceled            43017
Check-Out           75166
No-Show              1207

In [126]:
crosstab_result_resv = pd.crosstab(index=cat.reservation_status, columns=cat.hotel)
crosstab_result_resv

hotel               City Hotel  Resort Hotel
reservation_status
Canceled                 32186         10831
Check-Out                46228         28938
No-Show                    916           291

In [127]:
frequency_table_resv = cat.reservation_status.value_counts() # counting the different Reservation Status
proportion_table_resv = cat.reservation_status.value_counts(normalize=True).round(2) # converting the countings in the proportional part

In [128]:
df_resv = pd.concat([frequency_table_resv, proportion_table_resv], axis=1)*100 # convert to percentage
df_resv.columns = ['absolute_frequency', 'relative_frequency']
df_resv['relative_frequency'] = df_resv['relative_frequency'].apply(lambda x: f"{x}%")  #appling % 
df_resv

                    absolute_frequency relative_frequency
reservation_status
Check-Out                      7516600              63.0%
Canceled                       4301700              36.0%
No-Show                         120700               1.0%

In [129]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,rn_sum,revenue_total
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,Direct,Direct,0,0,0,C,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,0.0

In [130]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'booking_changes',
       'deposit_type', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'rn_sum',
       'revenue_total'],
      dtype='object')

In [131]:
df_resv_adr = df.groupby(["hotel", "reservation_status"])["adr"].agg(["median", "mean"])  # AvDailyRate - count, mean, median
round(df_resv_adr)

                                 median   mean
hotel        reservation_status
City Hotel   Canceled             100.0  105.0
             Check-Out            100.0  106.0
             No-Show               92.0  102.0
Resort Hotel Canceled              84.0  106.0
             Check-Out             72.0   91.0
             No-Show               63.0   80.0

In [132]:
df_resv_adr_r = df_resv_adr.round()
df_resv_adr_r['median'] = df_resv_adr_r['median'].apply(lambda x: f'{x:.1f}€')
df_resv_adr_r['mean'] = df_resv_adr_r['mean'].apply(lambda x: f'{x:.1f}€')

df_resv_adr_r

                                 median    mean
hotel        reservation_status
City Hotel   Canceled            100.0€  105.0€
             Check-Out           100.0€  106.0€
             No-Show              92.0€  102.0€
Resort Hotel Canceled             84.0€  106.0€
             Check-Out            72.0€   91.0€
             No-Show              63.0€   80.0€

In [133]:
df_resv_rn = df.groupby(["hotel", "reservation_status"])["rn_sum"].agg(["count", "median", "mean"])  # RoomNights - count, mean(avStayby Reservation, median
round(df_resv_rn)

                                 count  median  mean
hotel        reservation_status
City Hotel   Canceled            32186     3.0   3.0
             Check-Out           46228     3.0   3.0
             No-Show               916     3.0   4.0
Resort Hotel Canceled            10831     4.0   5.0
             Check-Out           28938     3.0   4.0
             No-Show               291     2.0   3.0

In [134]:
df_resv_dist = df.groupby(["hotel", "distribution_channel"])["rn_sum",].agg(["count", "median", "mean", "std"])  # RoomNights - count, mean, median
df_resv_dist_r = df_resv_dist.round(1)
df_resv_dist_r

                                  rn_sum
                                   count median mean  std
hotel        distribution_channel
City Hotel   Corporate              3408    2.0  2.0  1.8
             Direct                 6780    2.0  2.8  2.3
             GDS                     193    1.0  2.0  1.9
             TA/TO                 68945    3.0  3.1  1.8
             Undefined                 4    2.0  3.0  2.7
Resort Hotel Corporate              3269    2.0  2.8  2.7
             Direct                 7865    3.0  3.6  3.1
             TA/TO                 28925    4.0  4.7  3.4
             Undefined                 1    5.0  5.0  NaN

In [135]:
df_resv_meal = df.groupby(["hotel", "meal"])["rn_sum"].agg(["count", "median", "mean", "std"])  # RoomNights - count, mean, median
df_resv_meal_r = df_resv_meal.round(1)
df_resv_meal_r

                        count  median  mean  std
hotel        meal
City Hotel   BB         62305     3.0   3.0  1.8
             FB            44     3.0   2.7  0.6
             HB          6417     2.0   2.8  1.5
             SC         10564     3.0   2.9  2.2
Resort Hotel BB         30005     3.0   4.0  3.2
             FB           754     3.0   4.1  2.4
             HB          8046     5.0   5.6  3.8
             SC            86     5.0   6.8  7.5
             Undefined   1169     3.0   4.3  2.9

In [136]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'booking_changes',
       'deposit_type', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'rn_sum',
       'revenue_total'],
      dtype='object')

In [189]:
from scipy.stats import chi2_contingency
contingency_table = pd.crosstab(df['hotel'], df['is_canceled'])  # perform a Chi square, howhever i dont know so much about it

chi2, p, dof, expected = chi2_contingency(contingency_table)
print(f"Chi-Square Statistic: {round(chi2),0}")
print(f"P-value: {p}")

Chi-Square Statistic: (2225, 0)
P-value: 0.0

In [138]:
df_resv_meal_r

                        count  median  mean  std
hotel        meal
City Hotel   BB         62305     3.0   3.0  1.8
             FB            44     3.0   2.7  0.6
             HB          6417     2.0   2.8  1.5
             SC         10564     3.0   2.9  2.2
Resort Hotel BB         30005     3.0   4.0  3.2
             FB           754     3.0   4.1  2.4
             HB          8046     5.0   5.6  3.8
             SC            86     5.0   6.8  7.5
             Undefined   1169     3.0   4.3  2.9

In [139]:
df.to_excel("clean_data.xlsx", index=False)